<h1 class="titulo-h1">Detalles del Carrito</h1>
    {{#each cart}}
        <p>ID del Carrito: {{this._id}}</p>
       
        <h2>Productos en el Carrito</h2>
        <ul class="listaProducts">
            {{#each this.products}}
                <li>
                    <p>ID del Producto: {{this.producto._id}}</p>
                    <p>Nombre del Producto: {{this.producto.title}}</p>
                    <p>Descripción del Producto: {{this.producto.description}}</p>
                    <p>Código del Producto: {{this.producto.code}}</p>
                    <p>Precio del Producto: {{this.producto.price}}</p>
                    <p>Stock del Producto: {{this.producto.stock}}</p>
                    <p>Categoría del Producto: {{this.producto.category}}</p>
                    <p>Cantidad en el Carrito: {{this.quantity}}</p>
                </li>
                  
            {{/each}}
        </ul>
    {{/each}}