 <h1>Lista de Productos </h1>
    <ul id="productos">
        {{#each docs}}

        <li>Nombre: {{title}} Descripcion: {{description}} Codigo de producto: {{code}} Precio {{price}}</li>


        {{/each}}
        <!-- La lista de productos se actualizará automáticamente -->
    </ul>
    <a href="/products?page=1">Pagina 1</a>
    {{#if hasPrevPage}}

    <a href="/products?page={{prevPage}}">Pagina anterior</a>

    {{/if}}
      {{#if hasNextPage}}

    <a href="/products?page={{nextPage}}">Pagina siguiente</a>

    {{/if}}


    <a href="/products?page={{totalPages}}">Ultima Page</a>




